version: 2
jobs:
  build:
    working_directory: ~/transmatrics
    docker:
      - image: circleci/openjdk:8-jdk-browsers
    steps:
      - checkout
      - run:
          name: executable-gradle
          command: chmod +x gradlew
      - restore_cache:
          key: dependency-cache-{{ checksum "build.gradle" }}-{{ checksum "gradle.properties" }}
      - run:
          name: echo
          command: echo $TERM
      - run:
          name: build-jar
          command: ./gradlew build
      - run:
          name: create-source-jar
          command: ./gradlew sourceJar
      - store_artifacts:
          path: build/libs
      - save_cache:
          key: dependency-cache-{{ checksum "build.gradle" }}-{{ checksum "gradle.properties" }}
          paths:
            - ~/.gradle
            - .gradle/minecraft

workflows:
  version: 2
  build:
    jobs:
      - build